{% load sass_tags %}

<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css"/>
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Election 19</h1>



<div class="rule">
    If <input class="pc">% of {% include "select.html"%} voters voted for {% include "select.html"%}.
</div>

<div class="data-summary">
    <table id="seatsTable">
        <tr>
            <td>Conservative</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Labour</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Scottish National Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Liberal Democrat</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Democratic Unionist Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Sinn Féin</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Green</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>The Brexit Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Other</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
    </table>

    <table id="votesTable">
        <tr>
            <td>Conservative</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Labour</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Scottish National Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Liberal Democrat</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Democratic Unionist Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Sinn Féin</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Green</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>The Brexit Party</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
        <tr>
            <td>Other</td>
            <td><div class="data"><div class="bar"></div><span></span></div>
        </tr>
    </table>
</div>
{% include "map.svg" %}

<script>
var lookup = {
    "Conservative": "rgb(5, 117, 201)",
    "Labour": "rgb(223, 29, 14)",
    "Liberal Democrat": "rgb(239, 172, 24)",
    "Scottish National Party": "rgb(248, 237, 46)",
    "Green": "rgb(95, 178, 95)",
    "The Brexit Party": "#02b6d7",
    "Democratic Unionist Party": "#b51c4b",
    "Sinn F\u00e9in": "#159b78",
    "Other": "gray"
}
var data = {};
fetch(`/data/`).then(
    (response) => response.json()
).then((json) => {
    data = json;

    var seatsTable = document.getElementById("seatsTable");
    var votesTable = document.getElementById("votesTable");
    var summary = summariseData(data);
    const allVotes = Object.values(summary.votes).reduce((a,b) => a + b, 0);
    for (var table of [seatsTable, votesTable]) {
        for (var row of table.rows) {
            var party = row.cells[0].innerText;
            var bar = row.cells[1].getElementsByClassName("bar").item(0);
            bar.style.backgroundColor = lookup[party];
            if (table.id === "seatsTable") {
                row.getElementsByTagName("span").item(0).innerText = summary.seats[party];
                width = (summary.seats[party] / 6.5).toString().slice(0, 4) + "%";
            } else {
                row.getElementsByTagName("span").item(0).innerText = summary.votes[party];
                width = (summary.votes[party] / allVotes * 100).toString().slice(0, 4) + "%";
            }
            
            bar.style.width = width;
        }
    }
    

    rule = [0, "Liberal Democrat", "Labour"];

    var newData = {}
    for (conId in data) {

        

        


        var parties = data[conId].parties;
        var prevWinner = Object.keys(parties).reduce(
            function(a, b){ return parties[a] > parties[b] ? a : b }
        );

        if (rule[1] in parties && rule[2] in parties) {
            voters = parseInt(parties[rule[1]] * rule[0]);
            parties[rule[1]] -= voters;
            parties[rule[2]] += voters;
        }

        var newWinner = Object.keys(parties).reduce(
            function(a, b){ return parties[a] > parties[b] ? a : b }
        );


        

        if (newWinner !== prevWinner) {
            document.getElementById(conId).style.fill = lookup[newWinner];
            
        }
        
    }

    function getWinner(parties) {
        return Object.keys(parties).reduce(
            function(a, b){ return parties[a] > parties[b] ? a : b }
        )
    }

    function summariseData(data) {
        var parties = {
            "Labour": 0, "Conservative": 0, "Liberal Democrat": 0,
            "Scottish National Party": 0, "The Brexit Party": 0, "Green": 0,
            "Democratic Unionist Party": 0, "Sinn F\u00e9in": 0, "Other": 0
        }
        var summary = {
            "seats": {...parties}, "votes": {...parties}
        }
        for (var conId in data) {
            for (var party in data[conId].parties) {
                if (party in summary.votes) {
                    summary.votes[party] += data[conId].parties[party];
                } else {
                    summary.votes.Other += data[conId].parties[party];
                }
            }
            var winner = getWinner(data[conId].parties);
            if (winner in summary.seats) {
                summary.seats[winner] += 1;
            } else {
                summary.seats.Other += 1;
            }
        }
        return summary;
    }


})
</script>



</body>
</html>