{% load sass_tags %}

<!doctype html>
<html>
<head>
    <link href="/static/images/favicon.png" rel="icon" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css"/>
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
    <a href="/">
        <img src="/static/images/logo.svg" alt="">
    </a>
    
</div>

<div class="rules">
    <div class="rule">
        <img src="/static/images/x.png" onclick="removeRule(event);">If <input type="number" min="0" max="100" oninput="applyRules();" class="pc">% of {% include "select.html"%} voters voted for {% include "select.html"%} <button onclick="addRule();">and...</button>
    </div>
</div>

<div class="grid">
    <div class="charts">
        <div class="data-summary">
            <h2>Seat Share</h2>
            <table id="seatsTable">
                <tr>
                    <td>Conservative</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Labour</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Scottish National Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Liberal Democrat</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Democratic Unionist Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Sinn Féin</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>The Brexit Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Other</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
            </table>

            <table id="votesTable">
                <h2>Vote Share</h2>
                <tr>
                    <td>Conservative</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Labour</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Scottish National Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Liberal Democrat</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Democratic Unionist Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Sinn Féin</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>The Brexit Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Other</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
            </table>
        </div>
    </div>
    <div class="map">
        {% include "map.svg" %}
    </div>
</div>

<script src="/static/js/main.js"></script>
<script>
var data = {};
fetch("/data/").then(response => response.json()).then(json => {
    data = json;
    updateBars(data);
})
</script>

</body>
</html>