{% load sass_tags %}

<!doctype html>
<html>
<head>
    <link href="/static/images/favicon.png" rel="icon" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800" rel="stylesheet" type="text/css"/>
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
    <a href="/">
        <img src="/static/images/logo.svg" alt="">
    </a>
</div>

<div class="rules">
    {% for rule in rules %}
    <div class="rule">
        <img src="/static/images/x.png" onclick="removeRule(event);"{% if rules|length > 1%} style="display: inline"{% endif %}>
        If <input value="{{ rule.0 }}" type="number" min="0" max="100" oninput="applyRules();" class="pc">% of
        <select onchange="applyRules();">
            <option></option>
            <option{% if rule.1 == 'Conservative'%} selected{% endif %}>Conservative</option>
            <option{% if rule.1 == 'Labour'%} selected{% endif %}>Labour</option>
            <option{% if rule.1 == 'Liberal Democrat'%} selected{% endif %}>Liberal Democrat</option>
            <option{% if rule.1 == 'Scottish National Party'%} selected{% endif %}>Scottish National Party</option>
            <option{% if rule.1 == 'Green'%} selected{% endif %}>Green</option>
            <option{% if rule.1 == 'The Brexit Party'%} selected{% endif %}>The Brexit Party</option>
            <option{% if rule.1 == 'Plaid Cymru'%} selected{% endif %}>Plaid Cymru</option>
            <option{% if rule.1 == 'Democratic Unionist Party'%} selected{% endif %}>Democratic Unionist Party</option>
            <option{% if rule.1 == 'Sinn Féin'%} selected{% endif %}>Sinn Féin</option>
        </select> voters in
        <select onchange="applyRules();" value="{{ rule.2 }}">
            <option{% if rule.2 == 'The whole UK'%} selected{% endif %}>The whole UK</option>
            <option{% if rule.2 == 'England'%} selected{% endif %}>England</option>
            <option{% if rule.2 == 'Scotland'%} selected{% endif %}>Scotland</option>
            <option{% if rule.2 == 'Wales'%} selected{% endif %}>Wales</option>
            <option{% if rule.2 == 'Northern Ireland'%} selected{% endif %}>Northern Ireland</option>
        </select> voted for
        <select onchange="applyRules();">
            <option></option>
            <option{% if rule.3 == 'Conservative'%} selected{% endif %}>Conservative</option>
            <option{% if rule.3 == 'Labour'%} selected{% endif %}>Labour</option>
            <option{% if rule.3 == 'Liberal Democrat'%} selected{% endif %}>Liberal Democrat</option>
            <option{% if rule.3 == 'Scottish National Party'%} selected{% endif %}>Scottish National Party</option>
            <option{% if rule.3 == 'Green'%} selected{% endif %}>Green</option>
            <option{% if rule.3 == 'The Brexit Party'%} selected{% endif %}>The Brexit Party</option>
            <option{% if rule.3 == 'Plaid Cymru'%} selected{% endif %}>Plaid Cymru</option>
            <option{% if rule.3 == 'Democratic Unionist Party'%} selected{% endif %}>Democratic Unionist Party</option>
            <option{% if rule.3 == 'Sinn Féin'%} selected{% endif %}>Sinn Féin</option>
        </select>
        <button onclick="addRule();">and...</button>
    </div>
    {% endfor %}
</div>

<div class="link">
    <span>Link to this combination:</span>
    <a href="{{ root }}" data-root="{{ root }}">{{ root }}</a>
</div>

<div class="grid">
    <div class="charts">
        <div class="data-summary">
            <h2>Seat Share</h2>
            <table id="seatsTable">
                <tr>
                    <td>Conservative</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Labour</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Scottish National Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Liberal Democrat</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Democratic Unionist Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Sinn Féin</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Plaid Cymru</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>The Brexit Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Other</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
            </table>

            <table id="votesTable">
                <h2>Vote Share</h2>
                <tr>
                    <td>Conservative</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Labour</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Scottish National Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Liberal Democrat</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Democratic Unionist Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Sinn Féin</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Plaid Cymru</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Green</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>The Brexit Party</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
                <tr>
                    <td>Other</td>
                    <td><div class="data"><div class="bar"></div><span></span></div>
                </tr>
            </table>
        </div>
    </div>
    <div class="map">
        {% include "map.svg" %}
        <div class="panel">

            <div class="constituency"></div>
            <div class="results"></div>
        </div>
    </div>
</div>

<script src="/static/js/main.js"></script>
<script>
var data = {};
fetch("/data/").then(response => response.json()).then(json => {
    data = json;
    applyRules();
})
</script>

</body>
</html>