body {
    font-family: Muli;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    font-family: Muli;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background: white;
    font-family: Muli;
}

table {
    width: 90%;
    font-size: 12px;

    tr {
        width: 100%;

        td {
            text-align: right;
            width: 50%;

            .data {
                display: flex;

                .bar {
                    height: 10px;
                    width: 0%;
                    transition-property: "width";
                    transition: 1s;
                }

                span {
                    font-size: 8px;
                    margin-left: 5px;
                }
            }

            
        }
    }
}